{% extends "base.html" %}
{% block htmltitle %}
  <title>MichiJS</title>
{% endblock %}

{% block site_meta %}
{{ super() }}
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self' https://api.github.com/repos/michijs/michijs https://api.github.com/repos/michijs/michijs/releases/latest; img-src 'self' https://img.shields.io https://raw.githubusercontent.com https://avatars.githubusercontent.com data:">
{% endblock %}