{
	"presets": [
		"env"
	],
	"plugins": [
		// [
		// 	"transform-react-jsx",
		// 	{
		// 		"pragma": "jsxElem"
		// 	}
		// ],
		// [
		// 	"@babel/plugin-transform-typescript",
		// 	{
		// 		"isTSX": true
		// 	}
		// ]
	]
}