<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Lucas M. Segurado">
  <meta name="theme-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="color-scheme" content="light dark">
  <link rel="icon" type="image/svg+xml"
    href="https://raw.githubusercontent.com/michijs/art/main/logo-with-background-square.svg">
  <link rel="alternate icon" type="image/x-icon"
    href="https://raw.githubusercontent.com/michijs/art/main/logo-with-background-square.png">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% seo %}
  <title>{{ page.title }}</title>
</head>

<body>
  <main class="container">
    <article id="main_content">
      {{ content }}
    </article>
  </main>
</body>

<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10.9.0/dist/mermaid.esm.min.mjs';
  const config = {
    startOnLoad: false,
    theme: 'dark',
    flowchart: {
      useMaxWidth: false,
      htmlLabels: true
    }
  };
  mermaid.initialize(config);
  await mermaid.run({
    querySelector: '.language-mermaid',
  });
</script>

</html>