name: "Tests"

on: [push, pull_request]

jobs:
  call-workflow:
    strategy:
      matrix:
        scripts: [{script: test-tsc, name: "Typescript"}, {script: test, name: "Library"}]
        # benchmark-michijs Library benchmark
        # benchmark-michijs-map Library benchmark with map
        # benchmark-vanilla Vanilla benchmark
    uses: michijs/.github/.github/workflows/execute-script.yml@main
    name: "Run ${{matrix.scripts.name}} tests"
    with:
      script-name: ${{ matrix.scripts.script }}