name: "Update Docs"

on: 
  push:
    branches: [master]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  Deploy-docs:
    name: "Deploy docs"
    runs-on: ubuntu-latest
    steps: 
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT }}
          repository: michijs/michijs-docs
          event-type: push
